[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
ConfigParser = "*"
cloudify_rest_client = "~=4.3.3"

[requires]
python_version = "2.7"
