[Accounting]
report_to_accounting=False
endpoint=http://accounting.platform.euxdat.eu/api/

[Monitoring]
hpc_exporter_address=hpc-exporter.croupier.permedcoe.eu

[Vault]
#vault_address=vault:80
vault_address=vault.croupier.permedcoe.eu:80

[Keycloak]
keycloak_address=keycloak.croupier.permedcoe.eu
client_id=
client_secret=

[Grafana]
grafana-registry_address=grafana-registry.croupier.permedcoe.eu
